img {
  /* width: 300px; */
  max-width: 100%;
}

.productlist main {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
}

.product_list_container {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  margin: 1rem;
}

.productlist main h2 {
  grid-column: 1/-1;
}
.sold_out_and_img_container {
  display: grid;
  > * {
    place-self: start start;
    grid-area: 1/1;
  }
}

.subtle {
  color: rgb(173, 173, 173);
}

.product_list_container a {
  color: black;
  text-decoration: underline; /* optional */
}

.product_list_container a:visited {
  color: black;
}

.product_list_container a:hover {
  color: rgba(0, 119, 255, 0.714);
}

.product_list_container a:active {
  color: black;
}

.discount_badge {
  color: rgb(194, 6, 6);
}

.sold_out img {
  opacity: 0.4;
}

.product_list_container h2 {
  font-weight: 200;
}

#category_label {
  font-weight: 200;
}

